<div class="fluid-container dn-photo-border-content">
  <div class="dn-photo-cover">
    <% if logged_in? %>
      <div class="dn-photo-cover-content-user">
        <%= image_tag current_user.avatar.url, class: "dn-front-home-img" %>
        <div class="dn-cover-title">
          <div class="dn-title-content">
            <h1><%= link_to current_user.name, user_path(current_user) %></h1>
          </div>
        </div>
      </div>     
    <% else %>
      <div class="dn-front-home-btn">      
        <%= link_to t(:login), login_path,
          class: "btn dn-btn-login hvr-bounce-to-right" %>
        <%= link_to t(:signup), signup_path,
          class: "btn dn-btn-signup hvr-bounce-to-left" %> 
      </div>
      <div class="dn-photo-cover-content"></div>
    <% end %>
    <div class="dn-cover-full"></div>
  </div>
</div>
<% if logged_in? %>
  <div class="row ">
    <div class="col-md-8 col-md-offset-2 dn-front-group">
      <% if @feed_items.any? %>
        <ul class="activities">
          <%= render @feed_items %>
        </ul>
        <%= will_paginate @feed_items %>
      <% end %>
    </div>
  </div>
<% end %>
