<% provide :title, t(:edit_user) %>
<h1><%= t :update_profile %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: @user %>

      <%= image_tag @user.avatar.url :medium  %>
      <%= f.label :avatar %>
      <span class="picture">
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t(:passconfirm) %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t(:save_change), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
