<% provide :title, t(:all_categories) %>
<h1><%= t :all_categories %></h1>
<div class="panel-body">
  <table class="table">
    <thead>
      <th><%= t "category.title" %></th>
      <th><%= t "category.description" %></th>
      <th><%= t "category.created_at" %></th>
      <th><%= t "category_id.update_at" %></th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%= category.description %></td>
          <td><%= category.created_at.strftime t(:time_type) %></td>
          <td><%= category.updated_at.strftime t(:time_type) %></td>
          <td class="text-center">
            <%= form_for category.lessons.build do |f| %>
              <%= f.hidden_field :category_id, value: category.id %>
              <%= f.submit t(:start_lesson), class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>
