<li>
  <span class="content">
    <%= activity.content %>
    <% if activity.following? %>
      <%= link_to activity.target.name, user_path(activity.target) %>
    <% elsif activity.learned? %>
      <%= link_to activity.target.title, "#" %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(activity.created_at) %> <%= t :ago %>
  </span>
</li>
