<footer class="footer">
  <small>
    <%= t :the %> <a href="http://www.railstutorial.org/"><%= t :tutorials %></a>
    <%= t :by %> <a href="http://www.michaelhartl.com/"><%= t :dn %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
      <li><a href="http://google.com/"><%= t :news %></a></li>
    </ul>
  </nav>
</footer>
