<header class="navbar navbar-fixed-top navbar-inverse dn-front-header">
  <div class="container">
    <%= link_to t(:elearning), root_path, id: "logo" %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse dropdown" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ><%= link_to t(:home), root_path %></li>
        <% if logged_in? %>
          <li><%= link_to t(:word_list), words_path %></li>
          <li><%= link_to t(:category_list), categories_path %></li>
          <li><%= link_to t(:lesson_list), lessons_path %></li>
          <li><%= link_to t(:all_users), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.avatar.url, class: "dn-image-user" %>
              <span class="hidden-xs"><%= current_user.name.upcase %></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:profile), user_path(current_user) %></li>
              <li><%= link_to t(:setting), edit_user_path(current_user) %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to t(:admin_dash), admin_root_path %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to t(:logout), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:login), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
